<%= stylesheet_link_tag 'regestration/style', media: 'all', 'data-turbolinks-track': 'reload' %>
<section class="sign-in">
  <div class="container">
      <div class="signin-content">
        <div class="signin-image">
            <figure><img src=<%= image_path('signin-image') %> alt="sing in image"></figure>
						<%= link_to "Create an Account", new_user_registration_path, class: 'signin-image-link' %>
        </div>

        <div class="signin-form">
            <h2 class="form-title">Sign in</h2>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                    <label for="your_name"><i class="fa fa-user"></i></label>
                    <%= f.email_field :email, autofocus: true, placeholder: 'Email', autocomplete: "email" %>
                </div>
                <div class="form-group">
                    <label for="your_pass"><i class="fa fa-lock"></i></label>
                    <%= f.password_field :password, placeholder: 'Password', autocomplete: "current-password" %>

                </div>
                <div class="form-group">
                    <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                    <% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end %>
                </div>
                <div class="form-group form-button">
                    <%= f.submit "Log in", class: "btn btn-success" %>
                </div>
              <% end %>
            </div>
      </div>
  </div>
</section>

