<div class="mb-3 nav flex-column">
   <%= link_to "Create a Room", new_room_path, class: "btn btn-primary" %>
</div>
<div class="row">
  <div class="col-7"> </div>
  <div class="col-4"><p><b>Owner</b></p></div>
</div>
    <% if @rooms.present? && @user_rooms.present? %>
      <nav class="nav flex-column">
        <% @rooms.each do |room| %>
          <div class="row delete_room">
            <% if can? :read, room %>
              <div id="connect" class="col-11">
                <div class="row room-nav-link">
                  <%= link_to room.name, room_path(room), class: "nav-link col-6" %>
                  <% creator = find_room_creator(room)%>
                  <div class="col-2">
                    <% if current_user.admin? || current_user.user_rooms.where(room_id: room.id).present? %>
                      <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                          <li><%= link_to "Delete", room_path(room), method: :delete,
                            data: { confirm: "" "Created by User Name: '#{creator[:username]}'\nEmail: '#{creator[:email]}'
                                    \nAre You sure you want to delete '#{room.name}'?" },
                            remote: true, class:"dropdown-item" %></li>

                          <li><%= link_to "Edit", edit_room_path(room), class: "dropdown-item" %></li>
                         </div>
                      </div>
                    <% end %>
                  </div>
                  <p class="col-2">
                  <b><%=  creator[:username] %></b> </p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </nav>
    <% else %>
      <div class="text-muted">
        The are no rooms
      </div>
    <% end %>
